/* Homepage Specific Styling */

form {
  padding-top: 5px;
  border-top: 1px solid rgba(0, 128, 0, 0.7);
  max-width: 600px;
}

form>h4 {
  margin: 3px;
  padding: 0;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

form>p.failure {
  color: red;
}

form>p.success {
  color: green;
}

form li {
  padding: 4px;
  font-size: 1.4rem;
}

form li:nth-child(1),
form li:nth-child(2) {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
}

form li:nth-child(1) {
  padding-right: 4px;
}

form li:nth-child(2) {
  padding-left: 4px;
}

form li:nth-child(3) {
  display: block;
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 3px;
  font-size: 0.9em;
}

form input,
form textarea {
  border: 2px solid var(--color);
  border-radius: 0.4em;
  padding: 8px;
  background: #ffffff;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  font-size: medium;
}

form input:focus,
form textarea:focus {
  border-color: darkgreen;
  outline: none;
}

form textarea {
  display: block;
}

form input[type="submit"] {
  background: rgba(0, 128, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: 0.2s;
}

form input[type="submit"]:hover {
  background: green;
  transform: scale(1.1);
}

form input[type="submit"]:active {
  transform: scale(0.95);
  background: darkgreen;
}