nav ul{
  display: flex;
  margin: 30px;
  justify-content: center;
  list-style-type: none;
  gap: 1em;
  flex-wrap: wrap;
}
nav{
  border: 4px double green;
}
nav a{
  padding: 20px;
  background: green;
  border-radius: 2em;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.2s;
}
nav a:hover{
  background: limegreen;
  color: gray;
}
nav a:active{
  background: darkgreen;
  color: white;
}
nav a.naval{
  opacity: 0.6;
}
