body{
  flex-flow: column;
  font: 1.3em math;
  display: flex;
  /* align-items: center; */
}
h1{
  margin: 3px;
  padding: 0;
  font-size: xx-large
}
*{
  /* margin: 0; */
  --color: rgba(0, 100, 0, 0.2);
}
nav ul{
  display: flex;
  padding: 10px;
  border-radius: 0.4em;
  list-style-type: none;
  border: 1px solid var(--color);
  flex-wrap: wrap;
  /* width: fit-content; */
}
nav ul li{
  padding: 5px;
}
nav ul li:nth-child(2n-1) a{
  background: white; color: darkgreen;
}
nav ul li:nth-child(2n) a{
  background: rgba(0, 128, 0, 0.7); color: white;
}
nav a{
  text-decoration: none; display: block;
  border-radius: 0.3em; transition: 0.2s;
  border: thin solid var(--color);
  padding: .1em .3em;
}
nav ul li a:hover{
  filter: contrast(3);
  scale: 1.2;
  border: 3px solid green;
}
nav ul li a:active{
  filter: none;
}
/* paragraphs */
p, div{
  text-align: left;
  padding: 7px;
  font-size: .9em;
  margin: 5px;
}
div{
  --border: thin solid var(--color);
  /* border-top: var(--border); */
  margin-top: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

div>p{
  border: var(--border);
  width: 600px; padding: 25px;
  box-sizing: border-box;
  border-radius: .5em;
  font-size: 1em;
  text-align: left;
}

div>p>span, div>p>a{
  display: block;
  font-weight: bold;
  border-bottom: inherit;
  padding-bottom: 5px;
  margin-bottom: 5px;
  box-sizing: content-box;
}
div>p>a{
  border: none;
  margin-top: 5px;
}

h3{
  margin: 5px;
}

a{
  color: lightgreen;
  text-decoration: none;
  transition: 0.2s;
  border-radius: inherit;
}
a:hover{
  padding: 10px; background: rgba(0, 128, 0, 0.605);
}
a:active{
  background: none;
  color: black;
}
