body{
    font-size: -webkit-xxx-large;
}
#servicesBox {
    display: flex;
    justify-content: center;
    background: white;
}
header{
    height: 500px;
    text-align: center;
    font-family: Arial; color: white;
    background: linear-gradient(180deg, aliceblue, darkblue 200%);
    box-sizing: border-box; font-size: .8em;
    padding: 100px 0
}
header img{
    width: 150px;
    float: left;
/*     position: absolute; */
    filter: brightness(22);
}
header h2{
    width: fit-content;
    padding: 0; margin: 0;
    font-size: 1.2em;
    float: left;
}
header a{
    color: white;
    clear: left; display: block;
}
header p{
/*     margin-top: 200px; */
}
nav{
    position: absolute;
}
ul{
    list-style-type: none;
/*     display: flex; width: fit-content; */
/*     flex-flow: column; */
    text-align: center;
}
#services :first-child{
    letter-spacing: 0px;
    word-spacing: 7px;
    margin-bottom: 20px;
}
#services li{
    padding: 0;
}
#services a{
    text-decoration: none;; color: #00004a;
    font-size: 1.7em;
    font-family: monospace;
    letter-spacing: -5px;
    padding: -10px;
    z-index: 2; filter:
}
#services img{
    width: 300px; height: 300px;
    border: none;
    display: block;
    margin-left: calc(50% - 150px);
    padding: 0; 
}
#services span:first-child{
    background: #fec106;
    font-size: 1.5em;
    font-family: cursive;
    color: #100c43;
    padding: 5px 40px;
    border-radius: 1em;
    text-decoration: none;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: #00004a;
    box-shadow:;
    box-shadow: 0px 0px 20px 5px black;
}
@media and screen (min-width: 500px){
    body{
        font-size: -webkit-xxx-large; display: none;
    }
}