/* Adjust iframe for better appearance in essays */
article iframe {
    width: 100%;
    height: 50vh;
    border: thin solid var(--color);
    border-radius: .2em;
    padding: 7px;
    box-sizing: border-box;
}
