/* start general */
ul{
    list-style-type: none;
}


/* loading */
#loading, #loading:before{
    width: 80px;
    height: 80px;
    border: none;
    position: fixed;
/*     display: none; */
    top: calc(50% - 40px);
    left: calc(50% - 40px); z-index: 199;
}
#loading:before{
    content: ''; width: 1000%; height: 1000%;
    top: 0; left: 0; border-radius: 0;
    background: rgb(0 0 0 / 60%);
}
#loading>div{
    width: 20px; height: 20px; border: none; background: white;
    top: 0; left: calc(50% - 10px);var(--x); position: absolute;
animation: blink 1s cubic-bezier(0, 0, 1, -0.12) infinite;
    opacity: 0; z-index: 200;
    border-radius: 20px;
}
@-webkit-keyframes blink{
    0%{opacity: 1}
    50%{opacity: 0}
}
#c0{transform: translate(0px, 0px);}
#c1{transform: translate(20px, 11px);}
#c2{transform: translate(30px, 30px)}
#c3{transform: translate(20px, 50px)}
#c4{transform: translate(0px, 60px)}
#c5{transform: translate(-20px, 50px)}
#c6{transform: translate(-30px, 30px)}
#c7{transform: translate(-20px, 11px);}
/* end loading */
#msg{color: red}


/*footer*/
footer{
    background: chocolate;
    font-size: 120%;
    padding: .5em;
    height: 20vh;
}
footer a{
    color: white;
    text-decoration: none;
    background-color: #f7a52b;
}
footer a:hover{
    border-bottom: 2px dotted;
}
/* end footer */
/* end general */
/* index page */
article{
    padding: 40px;
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    width: 85vw;
    justify-content: center;
}
section{
    width: 40vw;
/*     height: 20vw; */
    border: 1vw solid chocolate;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    box-shadow: 8px 6px 20px 0px saddlebrown;
    font-size: xx-large;
    font-family: Arial; line-height: 1.5em;
    border-radius: .5em;
    background: lightgoldenrodyellow;
}
section>h3{
    border: 3px solid brown;
    box-shadow: 8px 6px 20px 0px saddlebrown;
    background: white; color: var(--v);
}
section:hover{
    background: saddlebrown;
    color: white; --v: black;
}
#navi{
    display: flex;
    gap: 1em;
}
#navi a{
    padding: 1vw;
    display: block;
    text-decoration: none;
    color: brown;
    background: white;
    font-size: xx-large;
    border: 10px double;
    transition-duration: .5s;
    box-sizing: border-box;
/*     width: 40vw; */
}
#navi a:hover{
    color: white;
    background: chocolate;
}
#navi a:active{
    background: brown;
}
#in{
    margin: 5vw 0 0 5vw;
    line-height: 0
}
#titledesc{
    font-style: italic;
}
#body>h2{
    width: 85vw;
    font-size: 2em; ;
    margin: 0; color: brown;
    text-decoration: dotted
}
/* end index page */
/* login .html */