<!doctype html>
<html>
    <head>
        <title>CAC Programs 2022</title>
        <link rel='stylesheet' href='CAC_Table.css'>
    </head>
    <body><div id='container'>
        <div id='logo'>
            29<sup>th</sup>
        </div>
        <h1 id='yellowShad'>
            ANNUAL DECENTRALISED<br>CHILDREN'S WORKERS' SEMINAR
        </h1>
        <p id='yellowGrad'>THEME:</p>
        <p id='theme'>EQUIPPING CHILDREN FOR ALL-ROUND GODLY SUCCESS</p>
        <p id='bibleVerse'>(Ephesians 6:11 )</p>
        <table>
            <tr>
                <th>CENTRE</th>
                <th>VENUE</th>
                <th>DATE</th>
            </tr>
            <tr>
                <td>Eastern Bloc</td>
                <td class='white'>
                    CAC Rivers DCC Hdqtrs, 25, Umuduru<br>Street, Mile 3, Diobu, Port-Harcourt
                </td>
                <td>July 14-16, 2022</td>
            </tr>
            <tr>
                <td>Western Bloc</td>
                <td class='white'>CAC BMIMC, Ikeji-Arakeji, Osun State.</td>
                <td>July 21-23, 2022</td>
            </tr>
            <tr>
                <td>Adelaja Centre</td>
                <td class='white'>
                    CAC Adelaja Regional Hqtrs, 79, <br>Aitken Road, Sabongeri, Kano
                </td>
                <td>July 28-30, 2022</td>
            </tr>
            <tr>
                <td>Medaiyese Centre</td>
                <td class='white'>CAC Gwagwalada DCC Hqtrs, Abuja</td>
                <td>July 28-30, 2022</td>
            </tr>
            <tr>
                <td>Orekoya Centre</td>
                <td class='white'>
                    CAC Jos DCC Hdqtrs, 3, Utan Lane, <br>Algadama Junction, Zaria Road, Jos.
                </td>
                <td>July 28-30, 2022</td>
            </tr>
        </table>
        </div>
    </body>
</html>
