/* for earth */
body{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 600px;
     background: linear-gradient(white, white, silver, white, white);
}
/* earth */
/* 19 feb 2022 */
#earth, #earth>div{
    width: 150px; height: 150px;
    transform-style: preserve-3d;
/*     box-sizing: border-box; */
/*     zoom: 2; */
}
#earth{
    --b: transparent;
    --description: '';
/*     scale: 3; */
}
#earth>div{
    border: 2px solid green;
    display: block; transition-duration: .5s;
    position: absolute;
    border-radius: 75px;
    transform-origin: center;
    cursor: pointer;
    background: radial-gradient(black 2%,red 20%, orange 40%, blue 50%, yellow 70%, green 70%);
}
#earth>div:hover{
    background: radial-gradient(green 20%, yellow 40%, orange 60%, red 80%);
    background: green;
}
#earth:after{
    content: var(--description);
/*     content: '33'; */
    position: absolute;
    background: var(--b);
    color: white; box-sizing: border-box;
    width: 100px; height: 50px;
    top: -90px; left: 30px;
    text-align: center;
    padding-top: 4px;
    transition: 0.5s background;
}
#earth:before{
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    rotate: 45deg;
    top: -50px; left: 70px;
    background: linear-gradient(135deg,transparent,
     transparent 50%, var(--b) 50%, var(--b));
}
#earth:hover{
    --b: green;
/*     --b: r */
}
#a{
    transform: rotateY(90deg);
}
#b{
    transform: rotateY(135deg);
}
#c{
    transform: rotateY(180deg);
}
#d{
    transform: rotateY(225deg);
}
.latitude{
    transform: rotateX(90deg);
}
#earth .cancer.down{
    --z: -25px;
}
#earth .cancer{
    --z: 20px;
    width: 142px; height: 142px;
    transform:
     rotateX(90deg) 
    translateZ(var(--z))
    translateX(3.2px)
}
#earth .capricon.down{
    --z: -60px;
}
#earth .capricon{
    --z: 30px;
    width: 120px; height: 120px;
    transform: rotateX(90deg) translateZ(var(--z))
    translateX(15px)
}
#earth>div:not([]){display: none}
/* end earth */
/* rotors */
#controls{
    position: absolute;
    width: fit-content;
    width: 500px; height: 500px;
    top: calc(50% - 300px); left: calc(50% - 350px);
/*     display: none */
}
#controls>*{
    position: absolute;
}
#ro{
    top: 100px; left: 100px;
}
#sto{
    left: 100px;
}
#canroll, #stopper{
    width: 30px; height: 30px;
    background: green;
    fill: green;
}
[id*=rotate]{
    top: 420px; left: 100px;
    width: 360px;
    --comment: 'Rotate along X-axis';
}
#rotateY{
    transform-origin: left;
    rotate: -90deg; left: 470px;
    --comment: 'Rotate along Y-axis';
}
[id*=rotate]:after{
    content: var(--comment);
    font-size: 1.5em;
    position: absolute; top: 30px; left: 100px;
    z-index: 19;
}
#rotateZ{
    transform-origin: left;
    rotate: -45deg; top: 300px;
    --comment: 'Rotate along Z-axis';
}
/* end for earth */